.addform {
  &__input{
    margin: 10px;
  }

  &__delete-button {
    height: 20px;
    color: white;
    background-color: #00acdc;
    border: none;
    outline: none;
    border-radius: 3px;
    transition: background-color 0.5s;

    &:hover {
      background-color: blue;
      cursor: pointer;
    }
  }
}
